.xxform-control{
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
}

xxinput {
  resize: vertical;
}

xxinput:active {
  height: auto;
}

.xxhide-abstract-sentences {
  display: none;
}

