{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>djangotemplateproject</title>

    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="/static/bower_components/bootstrap-toggle-master/dist/js/bootstrap-toggle.min.js"></script>
    <link href="/static/bower_components/bootstrap-toggle-master/dist/css/bootstrap-toggle.min.css" rel="stylesheet"/>



  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse" style="margin-left:-15px; margin-right:-15px;">
        <div class="navbar-header">
          <a  style="color:#ffffff; font-weight:bold;" class="navbar-brand" href="/">djangotemplateproject</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

          <ul class="nav navbar-nav navbarlist">
            {% if user.is_authenticated %}
              <li><a style="color:#ffffff; " href="/">Home</a></li>
              <li><a style="color:#ffffff; " href="/page1">Page1</a></li>
            {% endif %}
          </ul>


          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <button class="btn btn-info dropdown-toggle" style="margin-top:7px; margin-right:7px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{user.username}} <span class="caret"></span>
                </button>
                <ul style="z-index:1001;" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="/accounts/password/change">Change Password</a></li>
                  <li><a href="/accounts/logout/">Logout</a></li>
                </ul>
              </li>
            {% else %}

            {% endif %}
          </ul>


        </div>
      </nav>

      {% block content %}

      {% endblock %}

    </div>
  </body>
</html>
